# TASCA M05 T01

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
lliga = pd.read_csv(r"C:\Users\34626\Documents\TRABAJO\TALENTO DIGITAL\DATA SCIENCE-BARCELONA ACTIVA\SPRINT 5.- INTRODUCCIÓ AL TEST D'HIPÒTESIS\Lligues europees UEFA.csv",
sep=';', encoding = 'ISO-8859-1')
lliga

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,...,Pts,Pts/G,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper
0,1,Manchester City,ENG,1,37,28,6,3,96,24,...,90,2.43,86.1,26.8,59.3,1.60,W W W W D,52739,Kevin De Bruyne - 15,Ederson
1,2,Liverpool,ENG,2,36,26,8,2,89,24,...,86,2.39,84.6,33.1,51.4,1.43,W W W D W,53367,Mohamed Salah - 22,Alisson
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,...,85,2.30,73.0,45.8,27.2,0.73,W W L W D,40624,Karim Benzema - 27,Thibaut Courtois
3,4,Bayern Munich,GER,1,34,24,5,5,97,37,...,77,2.26,88.1,37.1,51.0,1.50,W W L D D,33176,Robert Lewandowski - 35,Manuel Neuer
4,5,Paris S-G,FRA,1,37,25,8,4,85,36,...,83,2.24,71.6,38.1,33.4,0.90,W D D D W,41188,Kylian Mbappé - 25,Keylor Navas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,94,Bordeaux,FRA,20,37,5,13,19,48,89,...,28,0.76,41.3,68.5,-27.2,-0.73,D L L L D,22083,Hwang Ui-jo - 11,Benoît Costil
94,95,Venezia,ITA,20,37,6,8,23,34,69,...,26,0.70,35.4,70.5,-35.1,-0.95,L L L W D,6705,Thomas Henry - 9,Sergio Romero
95,96,Watford,ENG,19,37,6,5,26,33,75,...,23,0.62,37.8,64.1,-26.3,-0.71,L L L D L,20614,Emmanuel Dennis - 10,Ben Foster
96,97,Norwich City,ENG,20,37,5,7,25,23,79,...,22,0.59,33.0,73.3,-40.4,-1.09,L L L L D,26826,Teemu Pukki - 11,Tim Krul
97,98,Greuther Fürth,GER,18,34,3,9,22,28,82,...,18,0.53,30.7,60.3,-29.6,-0.87,D L D L L,7672,Branimir Hrgota - 9,Sascha Burchert

In [3]:
# Primer cal fer una revisió de les dades i de valors nuls
lliga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               98 non-null     int64
 1   Squad            98 non-null     object
 2   Country          98 non-null     object
 3   LgRk             98 non-null     int64
 4   MP               98 non-null     int64
 5   W                98 non-null     int64
 6   D                98 non-null     int64
 7   L                98 non-null     int64
 8   GF               98 non-null     int64
 9   GA               98 non-null     int64
 10  GD               98 non-null     int64
 11  Pts              98 non-null     int64
 12  Pts/G            98 non-null     float64
 13  xG               98 non-null     float64
 14  xGA              98 non-null     float64
 15  xGD              98 non-null     float64
 16  xGD/90           98 non-null     float64
 17  Last 5           98 non-null     object
 18  Attendance       98 non-null     int64
 19  Top Team Scorer  98 non-null     object
 20  Goalkeeper       98 non-null     object
dtypes: float64(5), int64(11), object(5)
memory usage: 16.2+ KB

In [4]:
lliga.columns

Index(['Rk', 'Squad', 'Country', 'LgRk', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD',
       'Pts', 'Pts/G', 'xG', 'xGA', 'xGD', 'xGD/90', 'Last 5', 'Attendance',
       'Top Team Scorer', 'Goalkeeper'],
      dtype='object')

In [5]:
lliga.describe()

,Rk,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90,Attendance
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,49.500000,10.316327,36.306122,13.448980,9.408163,13.44898,50.877551,50.877551,0.000000,49.734694,1.370204,48.653061,48.645918,-0.005102,0.000918,24239.857143
std,28.434134,5.706926,1.152390,5.747474,2.903381,5.12347,16.102933,13.634602,26.501896,16.166371,0.443903,12.453950,9.812481,19.992506,0.551414,14874.171842
min,1.000000,1.000000,34.000000,3.000000,3.000000,2.00000,23.000000,24.000000,-56.000000,18.000000,0.530000,28.200000,26.800000,-40.400000,-1.090000,5870.000000
25%,25.250000,5.250000,36.000000,9.000000,7.000000,10.00000,39.000000,40.000000,-17.750000,37.000000,1.000000,39.100000,41.300000,-13.575000,-0.365000,12355.500000
50%,49.500000,10.000000,37.000000,13.000000,9.000000,13.00000,47.000000,50.000000,-1.000000,46.000000,1.300000,46.450000,47.750000,-1.100000,-0.030000,20491.000000
75%,73.750000,15.000000,37.000000,17.000000,11.000000,17.00000,60.000000,59.000000,17.250000,61.750000,1.695000,55.550000,54.700000,12.800000,0.355000,32382.000000
max,98.000000,20.000000,37.000000,28.000000,16.000000,26.00000,97.000000,89.000000,72.000000,90.000000,2.430000,88.100000,73.300000,59.300000,1.600000,73150.000000

### EXERCICI 1

Selecciono como a atribut ser equips anglesos
La hipòtesis nul·la H0 seria : Els equips anglesos tenen una mitjana de partits guanyats (W) igual a 13.45 (mitjana de les dades)
La hipotèsis alternativa Ha seria:Els equips anglesos tenen una mitjana de partits guanyats (W) superior a 13.45

In [8]:
lliga_ang=lliga[lliga['Country']=='ENG']
lliga_ang

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,...,Pts,Pts/G,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper
0,1,Manchester City,ENG,1,37,28,6,3,96,24,...,90,2.43,86.1,26.8,59.3,1.60,W W W W D,52739,Kevin De Bruyne - 15,Ederson
1,2,Liverpool,ENG,2,36,26,8,2,89,24,...,86,2.39,84.6,33.1,51.4,1.43,W W W D W,53367,Mohamed Salah - 22,Alisson
10,11,Chelsea,ENG,3,36,20,10,6,73,31,...,70,1.94,63.2,34.9,28.4,0.79,W D L D W,36991,Mason Mount - 11,Edouard Mendy
14,15,Tottenham,ENG,4,37,21,5,11,64,40,...,68,1.84,61.5,39.0,22.5,0.61,D W D W W,56234,Son Heung-min - 21,Hugo Lloris
17,18,Arsenal,ENG,5,36,21,3,12,56,45,...,66,1.83,56.3,44.0,12.2,0.34,W W W W L,59636,Bukayo Saka - 11,Aaron Ramsdale
33,34,Manchester Utd,ENG,6,37,16,10,11,57,56,...,58,1.57,53.9,54.3,-0.4,-0.01,L L D W L,73150,Cristiano Ronaldo - 18,David de Gea
36,37,West Ham,ENG,7,37,16,8,13,59,48,...,56,1.51,49.8,49.4,0.4,0.01,D L L W D,58370,Jarrod Bowen - 12,?ukasz Fabia?ski
41,42,Wolves,ENG,8,37,15,6,16,37,40,...,51,1.38,34.8,57.0,-22.2,-0.60,L L D L D,30777,Raúl Jiménez - 6,José Sá
46,47,Leicester City,ENG,9,36,13,9,14,57,57,...,48,1.33,48.5,58.2,-9.7,-0.27,D L L W W,32521,Jamie Vardy - 14,Kasper Schmeichel
48,49,Brighton,ENG,10,37,11,15,11,39,43,...,48,1.30,44.3,45.3,-1.0,-0.03,L D W W D,30931,Leandro Trossard Neal Maupay - 8,Robert Sánchez
51,52,Crystal Palace,ENG,12,36,10,15,11,47,43,...,45,1.25,44.6,39.3,5.3,0.15,L D W W D,24541,Wilfried Zaha - 13,Vicente Guaita
55,56,Brentford,ENG,11,37,13,7,17,47,54,...,46,1.24,46.7,47.8,-1.1,-0.03,W D L W W,16916,Ivan Toney - 12,David Raya
58,59,Aston Villa,ENG,13,36,13,5,18,49,50,...,44,1.22,42.4,44.6,-2.2,-0.06,D W W L D,41748,Ollie Watkins - 11,Emiliano Martínez
61,62,Newcastle Utd,ENG,14,36,11,10,15,40,61,...,43,1.19,36.5,53.5,-16.9,-0.47,W W W L L,51443,Callum Wilson - 6,Martin Dúbravka
67,68,Southampton,ENG,15,36,9,13,14,41,61,...,40,1.11,45.6,54.7,-9.1,-0.25,W L D L L,30053,James Ward-Prowse - 9,Fraser Forster
74,75,Everton,ENG,16,36,10,6,20,39,59,...,36,1.00,40.9,50.0,-9.2,-0.25,L W W D L,38446,Richarlison - 9,Jordan Pickford
82,83,Leeds United,ENG,17,37,8,11,18,40,78,...,35,0.95,45.8,69.1,-23.4,-0.63,D L L L D,36308,Raphael Dias Belloli - 10,Illan Meslier
83,84,Burnley,ENG,18,36,7,13,16,32,50,...,34,0.94,35.9,53.6,-17.8,-0.49,W W W L L,19163,Maxwel Cornet - 8,Nick Pope
95,96,Watford,ENG,19,37,6,5,26,33,75,...,23,0.62,37.8,64.1,-26.3,-0.71,L L L D L,20614,Emmanuel Dennis - 10,Ben Foster
96,97,Norwich City,ENG,20,37,5,7,25,23,79,...,22,0.59,33.0,73.3,-40.4,-1.09,L L L L D,26826,Teemu Pukki - 11,Tim Krul

In [10]:
# Para ver si cumple el criterio de normalidad
from scipy.stats import shapiro
stat,p = shapiro(lliga_ang['W'])
stat, p

(0.9384575486183167, 0.22417639195919037)

In [ ]:
# No podem rebutjar la hipòtesis nul·la que la distribució sginu normal

In [16]:
from scipy import stats
from scipy.stats import ttest_ind

stats.ttest_1samp(lliga_ang['W'], 13.45, alternative='less')

Ttest_1sampResult(statistic=0.3465670642288704, pvalue=0.6336373848697545)

No es pot rebutjar la hipòtesis nul·la que la mitjana de partits guanyats pels equips anglesos sigui igual a 13,45 amb una 
significància del 5%

### EXERCICI 2

Selecciono com a atribut el ranking a la seva lliga (LgRk). Per tal de tenir 2 grups, categoritzo la variable

In [17]:
# Categorització del rankint en 2 grups
def Ranking(x):
    if x<=10:
        return 1;
    elif x>10 and x<=20:
        return 2;
lliga['LgRk_cat']=lliga['LgRk'].map(Ranking)

Tenim 2 atributs:
- Categoria 1: a la seva lliga estan classificats a entre els 10 primers
- Categoria 2: a la seva lliga estan classificats a paritr del lloc 11

H0= els equips en la categoria 1 tenen la mateixa mitjana de partits guanyats que els equips de la categoria 2

Ha= els equips de la categoria 1 de mitjana guanyen menys partits que els de la categoria 2

In [ ]:
Ranking1=lliga[lliga['LgRk_cat']==1]
Ranking2=lliga[lliga['LgRk_cat']==2]

In [22]:
# Primer mirem la normalitat de les 2 categories
stat,p = shapiro(Ranking1['W'])
stat, p

(0.9593278169631958, 0.08331028372049332)

In [23]:
stat,p = shapiro(Ranking2['W'])
stat, p

(0.9706212878227234, 0.26778051257133484)

In [ ]:
Assumim la normalitat de les dues categories

In [24]:
# Realitzem el test de igualtat de variances. Utilitzem  Bartlett perquè sabem que les dues categories són normals. 
# Si no fossin normals, podriem realtizar els tests Levene o el test de Fligner-Killeen (són més robustos davant la manca de 
#normalitat)
bartlett_test = stats.bartlett(Ranking1['W'], Ranking2['W'])
bartlett_test

BartlettResult(statistic=12.913556655684868, pvalue=0.00032621085009192134)

In [ ]:
# El resultat indica que hem de rebutjar la hipòtesis nul·la d'igualtat de variances. Per tant, no hem d'utilitzar la prova
# t-student i buscar la de t-Welch perquè és robusta davant aquest fet.

In [25]:
stats.ttest_ind(Ranking1['W'], Ranking2['W'], alternative='greater',equal_var=False)

Ttest_indResult(statistic=13.106941170198017, pvalue=7.019371609782848e-22)

Rebutjem la hipotèsis nul·la i acceptem que els equips de la categoria 1 guanyen menys partits que els de la categoria 2

### EXERCICI 3

Selecciono com a atribut el número de gols marcats pel jugador marcador top (Top Score players). Per això separo el número de gols marcats del nom del jugador i la categoritzo.

In [27]:
pattern= "([\d]{1,2})"
top=lliga['Top Team Scorer'].str.extract(pattern)
lliga['Top Score players']=top[0]

lliga['Top Score players']=pd.to_numeric(lliga['Top Score players'], errors='coerce')

lliga.isnull().sum()

Rk                   0
Squad                0
Country              0
LgRk                 0
MP                   0
W                    0
D                    0
L                    0
GF                   0
GA                   0
GD                   0
Pts                  0
Pts/G                0
xG                   0
xGA                  0
xGD                  0
xGD/90               0
Last 5               0
Attendance           0
Top Team Scorer      0
Goalkeeper           0
LgRk_cat             0
Top Score players    0
dtype: int64

In [48]:
#Per categoritzar
def Top(x):
    if x<=10:
        return 1;
    elif x>10 and x<=20:
        return 2;
    elif x>20:
        return 3;
lliga['Top_cat']=lliga['Top Score players'].map(Top)

In [49]:
Top_cat1=lliga[lliga['Top_cat']==1]
Top_cat2=lliga[lliga['Top_cat']==2]
Top_cat3=lliga[lliga['Top_cat']==3]

Hi ha 3 atributs:
- Categoria 1: els màxims marcadors marquen 10 gols o menys
- Categoria 2: els màxims marcadors marquen entre 11 i 20 gols
- Categoria 3: els màxims marcadors marquen més de 20 gols

H0: els equips de les 3 categories tenen la mateixa mitjana de gols en contra (GA)
Ha : els equips de les 3 categòries tenen diferent mitjana de gols en contra

In [51]:
# Primer mirem la normalitat de les 3 categories
data=[Top_cat1['GA'],Top_cat2['GA'], Top_cat3['GA']]
for x in data:
    stat, p = shapiro(x)
    print('stat=%.3f, p=%.3f' % (stat, p))

stat=0.981, p=0.710
stat=0.973, p=0.355
stat=0.947, p=0.611

Assumim la normalitat de les 3 categories

In [52]:
# Realitzem el test de igualtat de variances. Utilitzem  Bartlett perquè sabem que les dues categories són normals. 

bartlett_test = stats.bartlett(Top_cat1['GA'],Top_cat2['GA'], Top_cat3['GA'])
bartlett_test

BartlettResult(statistic=2.3325982710318605, pvalue=0.3115176953344438)

Assumim la igualtat de variances

In [53]:
# ANOVA unidireccional entre grups (només hi ha una variable que s'utilitza per dividir el grup)
from scipy.stats import f_oneway

f_oneway(Top_cat1['GA'], Top_cat2['GA'], Top_cat3['GA'])

F_onewayResult(statistic=7.023021344504454, pvalue=0.0014302124305622431)

Rebutjem la hipòtesis nul·la i per tant els equips de les 3 categories tenen una mitjana diferent de gols en contra.